body {
  font-family: 'Oswald', sans-serif;
}

form {
  margin-bottom: 20px;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mosaic-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

#mosaic-wrap > canvas {
  width: 50%;
}

#input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#input + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px;
}

#input:focus + label,
#input + label:hover {
  opacity: 0.7;
}

#input + label {
	cursor: pointer;
}

.svg-row {
  display: flex;
  flex-direction: row;
}

.no-hover {
  pointer-events: none;
}
